:root {
  --el-color-primary: #615ec0;
  --el-color-primary-light-3: #8a87d1;
  --el-color-primary-light-5: #a4a2dd;
  --el-color-primary-light-8: #d2d1ed;
  --el-color-primary-dark-2: #4a47a8;
  
  --el-color-success: #67C23A;
  --el-color-success-light-3: #85ce61;
  --el-color-success-light-5: #a2d98a;
  --el-color-success-light-8: #d3ecc9;
  
  --el-color-warning: #E6A23C;
  --el-color-warning-light-3: #ebb563;
  --el-color-warning-light-5: #f0c280;
  --el-color-warning-light-8: #f7e1c7;
  
  --el-color-danger: #F56C6C;
  --el-color-danger-light-3: #f78989;
  --el-color-danger-light-5: #f9a6a6;
  --el-color-danger-light-8: #fcd5d5;
  
  --el-color-error: #F56C6C;
  --el-color-error-light-3: #f78989;
  --el-color-error-light-5: #f9a6a6;
  --el-color-error-light-8: #fcd5d5;
  
  --el-color-info: #909399;
  --el-color-info-light-3: #a6a9ad;
  --el-color-info-light-5: #b8bbbf;
  --el-color-info-light-8: #e4e7eb;
  
  --el-font-family: 'Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif';
  --el-font-size-extra-large: 20px;
  --el-font-size-large: 18px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
}